
nav {
  width: 100%;
  margin: auto;
  height: 95px;
  background-color: rgb(99, 75, 75);
}

.left-content {
  width: 60%;
  float: left;
  margin-top: 50px;
  height: 900px;
  background-color: rgb(175, 166, 166);
  margin-bottom: 20px;
}

.right-join {
  float: right;
  width: 30%;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 700px;
  background-color: rgb(124, 95, 95);
}

.posts {
  overflow: hidden;
  padding: 500px;
  background-color: rgb(131, 113, 113);
}

.center-join {
  margin-top: 200px;
  margin-right: 20px;
  margin-bottom: 50px;
  height: 600px;
  background-color: rgb(88, 78, 78);
  width: 70%;
  float: right;
}

.other-posts {
  margin-top: 1000px;
  height: 1500px;
  background-color: rgb(219, 201, 201);
}

.contents {
  margin-top: 30px;
  height: 1500px;
  background-color: rgb(68, 61, 61);
}

.guides {
  display: grid;
  grid-template-columns: auto auto;
  margin-top:  5px;
}

.guide {
  margin-top:  50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 650px;
  background-color: rgb(92, 82, 82);
}

.feature { 
  margin-top: 50px;
  background-color: rgb(65, 57, 57);
  height: 700px;
}

.links-head {
  margin-top: 50px;
  background-color: rgb(112, 97, 97);
  height: 300px;
}

.links {
  display: grid;
  grid-template-columns: auto auto;
}

.link { 
  margin: auto;
  width: 80%;
  margin-top: 50px;
  background-color: rgb(156, 138, 138);
  height: 250px;
}

footer {
  margin-top: 20px;
  height: 200px;
  background-color: rgb(90, 83, 83);
}